body{
    background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;   
}
#menu li:nth-child(2){
    border-bottom: 2px solid white; 
}
/* INICIO CENTRO */
#izquierda #text{
    margin-top: 3%;
    margin-left: 14%;
    color:  rgb(147, 153, 158);
}
#text h1{
    margin-bottom: 10%;

}
